<!DOCTYPE html>
<html lang="en">
<head>
  <title>JitterShout: The Team Shout-Out Bot</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<script type="text/javascript" src="https://unpkg.com/vue"></script>
<script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/javascript">//<![CDATA[

window.onload = function () {

  var app = new Vue({
    el: '#app',
    data: {
      team: null,
      bot: {shoutOutActive: false},
      loading: true,
      errored: false
    },
    mounted() {
      axios
        .get('http://localhost:8080/api/teaminfo')
        .then(response => (this.team = response.data))
        .catch(error => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => this.loading = false);
      axios
        .get('http://localhost:8080/api/botinfo')
        .then(response => (this.bot = response.data))
        .catch(error => {
          console.log(error);
          this.bot.shoutOutActive = 'error'
        });
    }
  })

}

//]]></script>

<section id="app" class="section">
  <h1 class="title">JitterShout - The Twitch Team Shout-Out Bot</h1>

  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child notification is-primary">
        <h2 class="title">Team Information</h2>

        <div v-if="errored" class="container notification is-warning">
          <p class="subtitle is-5">Sorry, can't get the Team Info right now.</p>
        </div>

        <div v-else class="container">
          <div v-if="loading"><p>Loading Team Info...</p></div>

          <div v-else>
            <p class="subtitle is-4">The team {{ team.name }} has {{ team.count }} team members.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child notification is-info">
        <h2 class="title">Bot Controls</h2>
        <div class="container">
          <p class="subtitle is-4">Shout-Out: {{ bot.shoutOutActive }}
            <span class="buttons has-addons">
            <button class="button is-success is-selected is-inverted">ON</button>
            <button class="button is-danger is-inverted">OFF</button>
          </span>
          </p>
        </div>
      </div>
    </div>
  </div>

</section>

</body>
</html>
