<!DOCTYPE html>
<html lang="en">
<head>
  <title>JitterShout: The Team Shout-Out Bot</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/toggle.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<script type="text/javascript" src="https://unpkg.com/vue"></script>
<script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/javascript">//<![CDATA[

window.onload = function () {

  Vue.component('Toggle', {
    template: `
    <span class="toggle-wrapper" @click="toggle" role="checkbox" :aria-checked="value.toString()" tabindex="0" @keydown.space.prevent="toggle">
      <span class="toggle-background" :style="backgroundStyles"></span>
      <span class="toggle-indicator" :style="indicatorStyles"></span>
    </span>
  `,
    props: ['value'],
    methods: {
      toggle() {
        this.$emit('input', !this.value)
      }
    },
    computed: {
      backgroundStyles() {
        return {
          backgroundColor: this.value ? '#6059dc' : '#ded9e7'
        }
      },
      indicatorStyles() {
        return {transform: this.value ? 'translateX(2rem)' : 'translateX(0)'}
      }
    }
  });

  const axiosApi = axios.create({
    baseURL: '/api/'
  });

  const app = new Vue({
    el: '#app',
    data: {
      team: null,
      bot: {shoutOutActive: false},
      loading: true,
      errored: false
    },
    mounted() {
      this.loadTeamInfo();
      this.loadBotStatus();
    },
    methods: {
      updateShoutOutState: function (event) {
        axiosApi
          .post('botinfo', this.bot)
          .then(response => (console.log(response)))
          .catch(error => (console.log(error)));
      },
      refreshTeam: function (event) {
        axiosApi
          .post('refresh-team')
          .then(response => (this.loadTeamInfo()))
          .catch(error => (console.log(error)));
      },
      loadTeamInfo: function () {
        this.loading = true;
        axiosApi
          .get('teaminfo')
          .then(response => (this.team = response.data))
          .catch(error => {
            console.log(error);
            this.errored = true;
          })
          .finally(() => this.loading = false);
      },
      loadBotStatus: function () {
        axiosApi
          .get('botinfo')
          .then(response => (this.bot = response.data))
          .catch(error => (console.log(error)));
      }
    }
  })

}

//]]></script>

<section class="section">
  <div id="app">
    <div v-cloak>
      <h1 class="title">JitterShout - The Twitch Team Shout-Out Bot</h1>

      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="tile is-child notification is-primary">
            <h2 class="title">Team Information</h2>

            <div v-if="errored" class="container notification is-warning">
              <p class="subtitle is-5">Sorry, can't get the Team Info right now.</p>
            </div>

            <div v-else class="container">
              <transition name="rotate" mode="out-in">
                <div key="loadinginfo" v-if="loading"><p>Loading Team Info...</p></div>

                <div key="loadedinfo" v-else>
                  <p class="subtitle is-4">The team {{ team.name }} has {{ team.count }} team members.</p>
                  <button class="button is-primary is-light" @click="refreshTeam">Refresh Team</button>
                </div>
              </transition>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child notification is-info">
            <h2 class="title">Bot Controls</h2>
            <div class="container">
              <p class="subtitle is-4">Shout-Out: {{ bot.shoutOutActive }}
              </p>
              <Toggle v-model="bot.shoutOutActive" @input="updateShoutOutState"/>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

</body>
</html>
